.ARCTROOPER501ST-i { content:url("https://swgoh.gg/game-asset/u/ARCTROOPER501ST.png"); }
.AAYLASECURA-i { content:url("https://swgoh.gg/game-asset/u/AAYLASECURA.png"); }
.ADMIRALACKBAR-i { content:url("https://swgoh.gg/game-asset/u/ADMIRALACKBAR.png"); }
.ADMIRALPIETT-i { content:url("https://swgoh.gg/game-asset/u/ADMIRALPIETT.png"); }
.AHSOKATANO-i { content:url("https://swgoh.gg/game-asset/u/AHSOKATANO.png"); }
.FULCRUMAHSOKA-i { content:url("https://swgoh.gg/game-asset/u/FULCRUMAHSOKA.png"); }
.JEDISTARFIGHTERAHSOKATANO-i { content:url("https://swgoh.gg/game-asset/u/JEDISTARFIGHTERAHSOKATANO.png"); }
.AMILYNHOLDO-i { content:url("https://swgoh.gg/game-asset/u/AMILYNHOLDO.png"); }
.JEDISTARFIGHTERANAKIN-i { content:url("https://swgoh.gg/game-asset/u/JEDISTARFIGHTERANAKIN.png"); }
.ASAJVENTRESS-i { content:url("https://swgoh.gg/game-asset/u/ASAJVENTRESS.png"); }
.AURRA_SING-i { content:url("https://swgoh.gg/game-asset/u/AURRA_SING.png"); }
.SITHBOMBER-i { content:url("https://swgoh.gg/game-asset/u/SITHBOMBER.png"); }
.B1BATTLEDROIDV2-i { content:url("https://swgoh.gg/game-asset/u/B1BATTLEDROIDV2.png"); }
.B2SUPERBATTLEDROID-i { content:url("https://swgoh.gg/game-asset/u/B2SUPERBATTLEDROID.png"); }
.BB8-i { content:url("https://swgoh.gg/game-asset/u/BB8.png"); }
.YWINGCLONEWARS-i { content:url("https://swgoh.gg/game-asset/u/YWINGCLONEWARS.png"); }
.BARRISSOFFEE-i { content:url("https://swgoh.gg/game-asset/u/BARRISSOFFEE.png"); }
.BASTILASHAN-i { content:url("https://swgoh.gg/game-asset/u/BASTILASHAN.png"); }
.BASTILASHANDARK-i { content:url("https://swgoh.gg/game-asset/u/BASTILASHANDARK.png"); }
.BAZEMALBUS-i { content:url("https://swgoh.gg/game-asset/u/BAZEMALBUS.png"); }
.BIGGSDARKLIGHTER-i { content:url("https://swgoh.gg/game-asset/u/BIGGSDARKLIGHTER.png"); }
.XWINGRED3-i { content:url("https://swgoh.gg/game-asset/u/XWINGRED3.png"); }
.BISTAN-i { content:url("https://swgoh.gg/game-asset/u/BISTAN.png"); }
.UWINGSCARIF-i { content:url("https://swgoh.gg/game-asset/u/UWINGSCARIF.png"); }
.BOKATAN-i { content:url("https://swgoh.gg/game-asset/u/BOKATAN.png"); }
.BOBAFETT-i { content:url("https://swgoh.gg/game-asset/u/BOBAFETT.png"); }
.BODHIROOK-i { content:url("https://swgoh.gg/game-asset/u/BODHIROOK.png"); }
.BOSSK-i { content:url("https://swgoh.gg/game-asset/u/BOSSK.png"); }
.C3POLEGENDARY-i { content:url("https://swgoh.gg/game-asset/u/C3POLEGENDARY.png"); }
.CC2224-i { content:url("https://swgoh.gg/game-asset/u/CC2224.png"); }
.CT210408-i { content:url("https://swgoh.gg/game-asset/u/CT210408.png"); }
.CT5555-i { content:url("https://swgoh.gg/game-asset/u/CT5555.png"); }
.CT7567-i { content:url("https://swgoh.gg/game-asset/u/CT7567.png"); }
.CADBANE-i { content:url("https://swgoh.gg/game-asset/u/CADBANE.png"); }
.CANDEROUSORDO-i { content:url("https://swgoh.gg/game-asset/u/CANDEROUSORDO.png"); }
.HOTHHAN-i { content:url("https://swgoh.gg/game-asset/u/HOTHHAN.png"); }
.PHASMA-i { content:url("https://swgoh.gg/game-asset/u/PHASMA.png"); }
.CARADUNE-i { content:url("https://swgoh.gg/game-asset/u/CARADUNE.png"); }
.CARTHONASI-i { content:url("https://swgoh.gg/game-asset/u/CARTHONASI.png"); }
.CASSIANANDOR-i { content:url("https://swgoh.gg/game-asset/u/CASSIANANDOR.png"); }
.UWINGROGUEONE-i { content:url("https://swgoh.gg/game-asset/u/UWINGROGUEONE.png"); }
.CHEWBACCALEGENDARY-i { content:url("https://swgoh.gg/game-asset/u/CHEWBACCALEGENDARY.png"); }
.CHIEFCHIRPA-i { content:url("https://swgoh.gg/game-asset/u/CHIEFCHIRPA.png"); }
.CHIEFNEBIT-i { content:url("https://swgoh.gg/game-asset/u/CHIEFNEBIT.png"); }
.CAPITALCHIMAERA-i { content:url("https://swgoh.gg/game-asset/u/CAPITALCHIMAERA.png"); }
.CHIRRUTIMWE-i { content:url("https://swgoh.gg/game-asset/u/CHIRRUTIMWE.png"); }
.CHOPPERS3-i { content:url("https://swgoh.gg/game-asset/u/CHOPPERS3.png"); }
.CLONESERGEANTPHASEI-i { content:url("https://swgoh.gg/game-asset/u/CLONESERGEANTPHASEI.png"); }
.ARC170CLONESERGEANT-i { content:url("https://swgoh.gg/game-asset/u/ARC170CLONESERGEANT.png"); }
.CLONEWARSCHEWBACCA-i { content:url("https://swgoh.gg/game-asset/u/CLONEWARSCHEWBACCA.png"); }
.COLONELSTARCK-i { content:url("https://swgoh.gg/game-asset/u/COLONELSTARCK.png"); }
.COMMANDERAHSOKA-i { content:url("https://swgoh.gg/game-asset/u/COMMANDERAHSOKA.png"); }
.COMMANDERLUKESKYWALKER-i { content:url("https://swgoh.gg/game-asset/u/COMMANDERLUKESKYWALKER.png"); }
.CORUSCANTUNDERWORLDPOLICE-i { content:url("https://swgoh.gg/game-asset/u/CORUSCANTUNDERWORLDPOLICE.png"); }
.COUNTDOOKU-i { content:url("https://swgoh.gg/game-asset/u/COUNTDOOKU.png"); }
.DARKTROOPER-i { content:url("https://swgoh.gg/game-asset/u/DARKTROOPER.png"); }
.DARTHMALAK-i { content:url("https://swgoh.gg/game-asset/u/DARTHMALAK.png"); }
.MAUL-i { content:url("https://swgoh.gg/game-asset/u/MAUL.png"); }
.DARTHNIHILUS-i { content:url("https://swgoh.gg/game-asset/u/DARTHNIHILUS.png"); }
.DARTHREVAN-i { content:url("https://swgoh.gg/game-asset/u/DARTHREVAN.png"); }
.DARTHSIDIOUS-i { content:url("https://swgoh.gg/game-asset/u/DARTHSIDIOUS.png"); }
.DARTHSION-i { content:url("https://swgoh.gg/game-asset/u/DARTHSION.png"); }
.DARTHTRAYA-i { content:url("https://swgoh.gg/game-asset/u/DARTHTRAYA.png"); }
.VADER-i { content:url("https://swgoh.gg/game-asset/u/VADER.png"); }
.DATHCHA-i { content:url("https://swgoh.gg/game-asset/u/DATHCHA.png"); }
.DEATHTROOPER-i { content:url("https://swgoh.gg/game-asset/u/DEATHTROOPER.png"); }
.DENGAR-i { content:url("https://swgoh.gg/game-asset/u/DENGAR.png"); }
.DIRECTORKRENNIC-i { content:url("https://swgoh.gg/game-asset/u/DIRECTORKRENNIC.png"); }
.DROIDEKA-i { content:url("https://swgoh.gg/game-asset/u/DROIDEKA.png"); }
.EBONHAWK-i { content:url("https://swgoh.gg/game-asset/u/EBONHAWK.png"); }
.BADBATCHECHO-i { content:url("https://swgoh.gg/game-asset/u/BADBATCHECHO.png"); }
.EETHKOTH-i { content:url("https://swgoh.gg/game-asset/u/EETHKOTH.png"); }
.EMBO-i { content:url("https://swgoh.gg/game-asset/u/EMBO.png"); }
.EMPERORPALPATINE-i { content:url("https://swgoh.gg/game-asset/u/EMPERORPALPATINE.png"); }
.EMPERORSSHUTTLE-i { content:url("https://swgoh.gg/game-asset/u/EMPERORSSHUTTLE.png"); }
.CAPITALJEDICRUISER-i { content:url("https://swgoh.gg/game-asset/u/CAPITALJEDICRUISER.png"); }
.ENFYSNEST-i { content:url("https://swgoh.gg/game-asset/u/ENFYSNEST.png"); }
.EWOKELDER-i { content:url("https://swgoh.gg/game-asset/u/EWOKELDER.png"); }
.EWOKSCOUT-i { content:url("https://swgoh.gg/game-asset/u/EWOKSCOUT.png"); }
.CAPITALSTARDESTROYER-i { content:url("https://swgoh.gg/game-asset/u/CAPITALSTARDESTROYER.png"); }
.EZRABRIDGERS3-i { content:url("https://swgoh.gg/game-asset/u/EZRABRIDGERS3.png"); }
.CAPITALFINALIZER-i { content:url("https://swgoh.gg/game-asset/u/CAPITALFINALIZER.png"); }
.FINN-i { content:url("https://swgoh.gg/game-asset/u/FINN.png"); }
.FIRSTORDEREXECUTIONER-i { content:url("https://swgoh.gg/game-asset/u/FIRSTORDEREXECUTIONER.png"); }
.FIRSTORDEROFFICERMALE-i { content:url("https://swgoh.gg/game-asset/u/FIRSTORDEROFFICERMALE.png"); }
.TIEFIGHTERFOSF-i { content:url("https://swgoh.gg/game-asset/u/TIEFIGHTERFOSF.png"); }
.FIRSTORDERSPECIALFORCESPILOT-i { content:url("https://swgoh.gg/game-asset/u/FIRSTORDERSPECIALFORCESPILOT.png"); }
.FIRSTORDERTROOPER-i { content:url("https://swgoh.gg/game-asset/u/FIRSTORDERTROOPER.png"); }
.TIEFIGHTERFIRSTORDER-i { content:url("https://swgoh.gg/game-asset/u/TIEFIGHTERFIRSTORDER.png"); }
.FIRSTORDERTIEPILOT-i { content:url("https://swgoh.gg/game-asset/u/FIRSTORDERTIEPILOT.png"); }
.LORDVADER-i { content:url("https://swgoh.gg/game-asset/a/specialskill_VADER02.png"); }
.GAMORREANGUARD-i { content:url("https://swgoh.gg/game-asset/u/GAMORREANGUARD.png"); }
.GARSAXON-i { content:url("https://swgoh.gg/game-asset/u/GARSAXON.png"); }
.ZEBS3-i { content:url("https://swgoh.gg/game-asset/u/ZEBS3.png"); }
.GAUNTLETSTARFIGHTER-i { content:url("https://swgoh.gg/game-asset/u/GAUNTLETSTARFIGHTER.png"); }
.GRIEVOUS-i { content:url("https://swgoh.gg/game-asset/u/GRIEVOUS.png"); }
.GENERALHUX-i { content:url("https://swgoh.gg/game-asset/u/GENERALHUX.png"); }
.GENERALKENOBI-i { content:url("https://swgoh.gg/game-asset/u/GENERALKENOBI.png"); }
.GENERALSKYWALKER-i { content:url("https://swgoh.gg/game-asset/u/GENERALSKYWALKER.png"); }
.VEERS-i { content:url("https://swgoh.gg/game-asset/u/VEERS.png"); }
.GEONOSIANBROODALPHA-i { content:url("https://swgoh.gg/game-asset/u/GEONOSIANBROODALPHA.png"); }
.GEONOSIANSOLDIER-i { content:url("https://swgoh.gg/game-asset/u/GEONOSIANSOLDIER.png"); }
.GEONOSIANSTARFIGHTER2-i { content:url("https://swgoh.gg/game-asset/u/GEONOSIANSTARFIGHTER2.png"); }
.GEONOSIANSPY-i { content:url("https://swgoh.gg/game-asset/u/GEONOSIANSPY.png"); }
.GEONOSIANSTARFIGHTER3-i { content:url("https://swgoh.gg/game-asset/u/GEONOSIANSTARFIGHTER3.png"); }
.GHOST-i { content:url("https://swgoh.gg/game-asset/u/GHOST.png"); }
.GRANDADMIRALTHRAWN-i { content:url("https://swgoh.gg/game-asset/u/GRANDADMIRALTHRAWN.png"); }
.GRANDMASTERYODA-i { content:url("https://swgoh.gg/game-asset/u/GRANDMASTERYODA.png"); }
.GRANDMOFFTARKIN-i { content:url("https://swgoh.gg/game-asset/u/GRANDMOFFTARKIN.png"); }
.GREEDO-i { content:url("https://swgoh.gg/game-asset/u/GREEDO.png"); }
.GREEFKARGA-i { content:url("https://swgoh.gg/game-asset/u/GREEFKARGA.png"); }
.HK47-i { content:url("https://swgoh.gg/game-asset/u/HK47.png"); }
.HANSOLO-i { content:url("https://swgoh.gg/game-asset/u/HANSOLO.png"); }
.MILLENNIUMFALCON-i { content:url("https://swgoh.gg/game-asset/u/MILLENNIUMFALCON.png"); }
.HERASYNDULLAS3-i { content:url("https://swgoh.gg/game-asset/u/HERASYNDULLAS3.png"); }
.HERMITYODA-i { content:url("https://swgoh.gg/game-asset/u/HERMITYODA.png"); }
.CAPITALMONCALAMARICRUISER-i { content:url("https://swgoh.gg/game-asset/u/CAPITALMONCALAMARICRUISER.png"); }
.HOTHREBELSCOUT-i { content:url("https://swgoh.gg/game-asset/u/HOTHREBELSCOUT.png"); }
.HOTHREBELSOLDIER-i { content:url("https://swgoh.gg/game-asset/u/HOTHREBELSOLDIER.png"); }
.HOUNDSTOOTH-i { content:url("https://swgoh.gg/game-asset/u/HOUNDSTOOTH.png"); }
.BADBATCHHUNTER-i { content:url("https://swgoh.gg/game-asset/u/BADBATCHHUNTER.png"); }
.HYENABOMBER-i { content:url("https://swgoh.gg/game-asset/u/HYENABOMBER.png"); }
.MAGNAGUARD-i { content:url("https://swgoh.gg/game-asset/u/MAGNAGUARD.png"); }
.IG11-i { content:url("https://swgoh.gg/game-asset/u/IG11.png"); }
.IG2000-i { content:url("https://swgoh.gg/game-asset/u/IG2000.png"); }
.IG86SENTINELDROID-i { content:url("https://swgoh.gg/game-asset/u/IG86SENTINELDROID.png"); }
.IG88-i { content:url("https://swgoh.gg/game-asset/u/IG88.png"); }
.IMAGUNDI-i { content:url("https://swgoh.gg/game-asset/u/IMAGUNDI.png"); }
.IMPERIALPROBEDROID-i { content:url("https://swgoh.gg/game-asset/u/IMPERIALPROBEDROID.png"); }
.IMPERIALSUPERCOMMANDO-i { content:url("https://swgoh.gg/game-asset/u/IMPERIALSUPERCOMMANDO.png"); }
.TIEBOMBERIMPERIAL-i { content:url("https://swgoh.gg/game-asset/u/TIEBOMBERIMPERIAL.png"); }
.TIEFIGHTERIMPERIAL-i { content:url("https://swgoh.gg/game-asset/u/TIEFIGHTERIMPERIAL.png"); }
.JANGOFETT-i { content:url("https://swgoh.gg/game-asset/u/JANGOFETT.png"); }
.JAWA-i { content:url("https://swgoh.gg/game-asset/u/JAWA.png"); }
.JAWAENGINEER-i { content:url("https://swgoh.gg/game-asset/u/JAWAENGINEER.png"); }
.JAWASCAVENGER-i { content:url("https://swgoh.gg/game-asset/u/JAWASCAVENGER.png"); }
.JEDIKNIGHTCONSULAR-i { content:url("https://swgoh.gg/game-asset/u/JEDIKNIGHTCONSULAR.png"); }
.JEDISTARFIGHTERCONSULAR-i { content:url("https://swgoh.gg/game-asset/u/JEDISTARFIGHTERCONSULAR.png"); }
.ANAKINKNIGHT-i { content:url("https://swgoh.gg/game-asset/u/ANAKINKNIGHT.png"); }
.JEDIKNIGHTGUARDIAN-i { content:url("https://swgoh.gg/game-asset/u/JEDIKNIGHTGUARDIAN.png"); }
.JEDIKNIGHTLUKE-i { content:url("https://swgoh.gg/game-asset/u/JEDIKNIGHTLUKE.png"); }
.JEDIKNIGHTREVAN-i { content:url("https://swgoh.gg/game-asset/u/JEDIKNIGHTREVAN.png"); }
.JEDIMASTERKENOBI-i { content:url("https://swgoh.gg/game-asset/u/JEDIMASTERKENOBI.png"); }
.GRANDMASTERLUKE-i { content:url("https://swgoh.gg/game-asset/u/GRANDMASTERLUKE.png"); }
.JOLEEBINDO-i { content:url("https://swgoh.gg/game-asset/u/JOLEEBINDO.png"); }
.JUHANI-i { content:url("https://swgoh.gg/game-asset/u/JUHANI.png"); }
.JYNERSO-i { content:url("https://swgoh.gg/game-asset/u/JYNERSO.png"); }
.K2SO-i { content:url("https://swgoh.gg/game-asset/u/K2SO.png"); }
.KANANJARRUSS3-i { content:url("https://swgoh.gg/game-asset/u/KANANJARRUSS3.png"); }
.KIADIMUNDI-i { content:url("https://swgoh.gg/game-asset/u/KIADIMUNDI.png"); }
.KITFISTO-i { content:url("https://swgoh.gg/game-asset/u/KITFISTO.png"); }
.KUIIL-i { content:url("https://swgoh.gg/game-asset/u/KUIIL.png"); }
.KYLOREN-i { content:url("https://swgoh.gg/game-asset/u/KYLOREN.png"); }
.KYLORENUNMASKED-i { content:url("https://swgoh.gg/game-asset/u/KYLORENUNMASKED.png"); }
.COMMANDSHUTTLE-i { content:url("https://swgoh.gg/game-asset/u/COMMANDSHUTTLE.png"); }
.L3_37-i { content:url("https://swgoh.gg/game-asset/u/L3_37.png"); }
.ADMINISTRATORLANDO-i { content:url("https://swgoh.gg/game-asset/u/ADMINISTRATORLANDO.png"); }
.MILLENNIUMFALCONPRISTINE-i { content:url("https://swgoh.gg/game-asset/u/MILLENNIUMFALCONPRISTINE.png"); }
.LOBOT-i { content:url("https://swgoh.gg/game-asset/u/LOBOT.png"); }
.LOGRAY-i { content:url("https://swgoh.gg/game-asset/u/LOGRAY.png"); }
.LUKESKYWALKER-i { content:url("https://swgoh.gg/game-asset/u/LUKESKYWALKER.png"); }
.LUMINARAUNDULI-i { content:url("https://swgoh.gg/game-asset/u/LUMINARAUNDULI.png"); }
.MACEWINDU-i { content:url("https://swgoh.gg/game-asset/u/MACEWINDU.png"); }
.MAGMATROOPER-i { content:url("https://swgoh.gg/game-asset/u/MAGMATROOPER.png"); }
.CAPITALMALEVOLENCE-i { content:url("https://swgoh.gg/game-asset/u/CAPITALMALEVOLENCE.png"); }
.MISSIONVAO-i { content:url("https://swgoh.gg/game-asset/u/MISSIONVAO.png"); }
.HUMANTHUG-i { content:url("https://swgoh.gg/game-asset/u/HUMANTHUG.png"); }
.MOFFGIDEONS1-i { content:url("https://swgoh.gg/game-asset/u/MOFFGIDEONS1.png"); }
.MONMOTHMA-i { content:url("https://swgoh.gg/game-asset/u/MONMOTHMA.png"); }
.MOTHERTALZIN-i { content:url("https://swgoh.gg/game-asset/u/MOTHERTALZIN.png"); }
.CAPITALNEGOTIATOR-i { content:url("https://swgoh.gg/game-asset/u/CAPITALNEGOTIATOR.png"); }
.NIGHTSISTERACOLYTE-i { content:url("https://swgoh.gg/game-asset/u/NIGHTSISTERACOLYTE.png"); }
.NIGHTSISTERINITIATE-i { content:url("https://swgoh.gg/game-asset/u/NIGHTSISTERINITIATE.png"); }
.NIGHTSISTERSPIRIT-i { content:url("https://swgoh.gg/game-asset/u/NIGHTSISTERSPIRIT.png"); }
.NIGHTSISTERZOMBIE-i { content:url("https://swgoh.gg/game-asset/u/NIGHTSISTERZOMBIE.png"); }
.NUTEGUNRAY-i { content:url("https://swgoh.gg/game-asset/u/NUTEGUNRAY.png"); }
.OLDBENKENOBI-i { content:url("https://swgoh.gg/game-asset/u/OLDBENKENOBI.png"); }
.DAKA-i { content:url("https://swgoh.gg/game-asset/u/DAKA.png"); }
.BADBATCHOMEGA-i { content:url("https://swgoh.gg/game-asset/u/BADBATCHOMEGA.png"); }
.PADMEAMIDALA-i { content:url("https://swgoh.gg/game-asset/u/PADMEAMIDALA.png"); }
.PAO-i { content:url("https://swgoh.gg/game-asset/u/PAO.png"); }
.PAPLOO-i { content:url("https://swgoh.gg/game-asset/u/PAPLOO.png"); }
.PHANTOM2-i { content:url("https://swgoh.gg/game-asset/u/PHANTOM2.png"); }
.PLOKOON-i { content:url("https://swgoh.gg/game-asset/u/PLOKOON.png"); }
.BLADEOFDORIN-i { content:url("https://swgoh.gg/game-asset/u/BLADEOFDORIN.png"); }
.POE-i { content:url("https://swgoh.gg/game-asset/u/POE.png"); }
.XWINGBLACKONE-i { content:url("https://swgoh.gg/game-asset/u/XWINGBLACKONE.png"); }
.POGGLETHELESSER-i { content:url("https://swgoh.gg/game-asset/u/POGGLETHELESSER.png"); }
.PRINCESSLEIA-i { content:url("https://swgoh.gg/game-asset/u/PRINCESSLEIA.png"); }
.QIRA-i { content:url("https://swgoh.gg/game-asset/u/QIRA.png"); }
.QUIGONJINN-i { content:url("https://swgoh.gg/game-asset/u/QUIGONJINN.png"); }
.R2D2_LEGENDARY-i { content:url("https://swgoh.gg/game-asset/u/R2D2_LEGENDARY.png"); }
.CAPITALRADDUS-i { content:url("https://swgoh.gg/game-asset/u/CAPITALRADDUS.png"); }
.RANGETROOPER-i { content:url("https://swgoh.gg/game-asset/u/RANGETROOPER.png"); }
.RAZORCREST-i { content:url("https://swgoh.gg/game-asset/u/RAZORCREST.png"); }
.HOTHLEIA-i { content:url("https://swgoh.gg/game-asset/u/HOTHLEIA.png"); }
.YWINGREBEL-i { content:url("https://swgoh.gg/game-asset/u/YWINGREBEL.png"); }
.EPIXFINN-i { content:url("https://swgoh.gg/game-asset/u/EPIXFINN.png"); }
.EPIXPOE-i { content:url("https://swgoh.gg/game-asset/u/EPIXPOE.png"); }
.RESISTANCEPILOT-i { content:url("https://swgoh.gg/game-asset/u/RESISTANCEPILOT.png"); }
.RESISTANCETROOPER-i { content:url("https://swgoh.gg/game-asset/u/RESISTANCETROOPER.png"); }
.XWINGRESISTANCE-i { content:url("https://swgoh.gg/game-asset/u/XWINGRESISTANCE.png"); }
.ARC170REX-i { content:url("https://swgoh.gg/game-asset/u/ARC170REX.png"); }
.GLREY-i { content:url("https://swgoh.gg/game-asset/u/GLREY.png"); }
.REYJEDITRAINING-i { content:url("https://swgoh.gg/game-asset/u/REYJEDITRAINING.png"); }
.REY-i { content:url("https://swgoh.gg/game-asset/u/REY.png"); }
.MILLENNIUMFALCONEP7-i { content:url("https://swgoh.gg/game-asset/u/MILLENNIUMFALCONEP7.png"); }
.ROSETICO-i { content:url("https://swgoh.gg/game-asset/u/ROSETICO.png"); }
.ROYALGUARD-i { content:url("https://swgoh.gg/game-asset/u/ROYALGUARD.png"); }
.SABINEWRENS3-i { content:url("https://swgoh.gg/game-asset/u/SABINEWRENS3.png"); }
.SAVAGEOPRESS-i { content:url("https://swgoh.gg/game-asset/u/SAVAGEOPRESS.png"); }
.SCARIFREBEL-i { content:url("https://swgoh.gg/game-asset/u/SCARIFREBEL.png"); }
.SITHINFILTRATOR-i { content:url("https://swgoh.gg/game-asset/u/SITHINFILTRATOR.png"); }
.SHAAKTI-i { content:url("https://swgoh.gg/game-asset/u/SHAAKTI.png"); }
.SHORETROOPER-i { content:url("https://swgoh.gg/game-asset/u/SHORETROOPER.png"); }
.SITHASSASSIN-i { content:url("https://swgoh.gg/game-asset/u/SITHASSASSIN.png"); }
.SITHTROOPER-i { content:url("https://swgoh.gg/game-asset/u/SITHTROOPER.png"); }
.SITHPALPATINE-i { content:url("https://swgoh.gg/game-asset/u/SITHPALPATINE.png"); }
.SITHFIGHTER-i { content:url("https://swgoh.gg/game-asset/u/SITHFIGHTER.png"); }
.SITHMARAUDER-i { content:url("https://swgoh.gg/game-asset/u/SITHMARAUDER.png"); }
.FOSITHTROOPER-i { content:url("https://swgoh.gg/game-asset/u/FOSITHTROOPER.png"); }
.SLAVE1-i { content:url("https://swgoh.gg/game-asset/u/SLAVE1.png"); }
.SNOWTROOPER-i { content:url("https://swgoh.gg/game-asset/u/SNOWTROOPER.png"); }
.STORMTROOPER-i { content:url("https://swgoh.gg/game-asset/u/STORMTROOPER.png"); }
.STORMTROOPERHAN-i { content:url("https://swgoh.gg/game-asset/u/STORMTROOPERHAN.png"); }
.SUNFAC-i { content:url("https://swgoh.gg/game-asset/u/SUNFAC.png"); }
.GEONOSIANSTARFIGHTER1-i { content:url("https://swgoh.gg/game-asset/u/GEONOSIANSTARFIGHTER1.png"); }
.SUPREMELEADERKYLOREN-i { content:url("https://swgoh.gg/game-asset/u/SUPREMELEADERKYLOREN.png"); }
.T3_M4-i { content:url("https://swgoh.gg/game-asset/u/T3_M4.png"); }
.TIEADVANCED-i { content:url("https://swgoh.gg/game-asset/u/TIEADVANCED.png"); }
.TIEFIGHTERPILOT-i { content:url("https://swgoh.gg/game-asset/u/TIEFIGHTERPILOT.png"); }
.TIEREAPER-i { content:url("https://swgoh.gg/game-asset/u/TIEREAPER.png"); }
.TIESILENCER-i { content:url("https://swgoh.gg/game-asset/u/TIESILENCER.png"); }
.TALIA-i { content:url("https://swgoh.gg/game-asset/u/TALIA.png"); }
.BADBATCHTECH-i { content:url("https://swgoh.gg/game-asset/u/BADBATCHTECH.png"); }
.TEEBO-i { content:url("https://swgoh.gg/game-asset/u/TEEBO.png"); }
.ARMORER-i { content:url("https://swgoh.gg/game-asset/u/ARMORER.png"); }
.THEMANDALORIAN-i { content:url("https://swgoh.gg/game-asset/u/THEMANDALORIAN.png"); }
.THEMANDALORIANBESKARARMOR-i { content:url("https://swgoh.gg/game-asset/u/THEMANDALORIANBESKARARMOR.png"); }
.C3POCHEWBACCA-i { content:url("https://swgoh.gg/game-asset/u/C3POCHEWBACCA.png"); }
.TUSKENRAIDER-i { content:url("https://swgoh.gg/game-asset/u/TUSKENRAIDER.png"); }
.TUSKENSHAMAN-i { content:url("https://swgoh.gg/game-asset/u/TUSKENSHAMAN.png"); }
.URORRURRR-i { content:url("https://swgoh.gg/game-asset/u/URORRURRR.png"); }
.UGNAUGHT-i { content:url("https://swgoh.gg/game-asset/u/UGNAUGHT.png"); }
.UMBARANSTARFIGHTER-i { content:url("https://swgoh.gg/game-asset/u/UMBARANSTARFIGHTER.png"); }
.YOUNGCHEWBACCA-i { content:url("https://swgoh.gg/game-asset/u/YOUNGCHEWBACCA.png"); }
.SMUGGLERCHEWBACCA-i { content:url("https://swgoh.gg/game-asset/u/SMUGGLERCHEWBACCA.png"); }
.SMUGGLERHAN-i { content:url("https://swgoh.gg/game-asset/u/SMUGGLERHAN.png"); }
.VISASMARR-i { content:url("https://swgoh.gg/game-asset/u/VISASMARR.png"); }
.VULTUREDROID-i { content:url("https://swgoh.gg/game-asset/u/VULTUREDROID.png"); }
.WAMPA-i { content:url("https://swgoh.gg/game-asset/u/WAMPA.png"); }
.WATTAMBOR-i { content:url("https://swgoh.gg/game-asset/u/WATTAMBOR.png"); }
.WEDGEANTILLES-i { content:url("https://swgoh.gg/game-asset/u/WEDGEANTILLES.png"); }
.XWINGRED2-i { content:url("https://swgoh.gg/game-asset/u/XWINGRED2.png"); }
.WICKET-i { content:url("https://swgoh.gg/game-asset/u/WICKET.png"); }
.BADBATCHWRECKER-i { content:url("https://swgoh.gg/game-asset/u/BADBATCHWRECKER.png"); }
.XANADUBLOOD-i { content:url("https://swgoh.gg/game-asset/u/XANADUBLOOD.png"); }
.YOUNGHAN-i { content:url("https://swgoh.gg/game-asset/u/YOUNGHAN.png"); }
.YOUNGLANDO-i { content:url("https://swgoh.gg/game-asset/u/YOUNGLANDO.png"); }
.ZAALBAR-i { content:url("https://swgoh.gg/game-asset/u/ZAALBAR.png"); }
.ZAMWESELL-i { content:url("https://swgoh.gg/game-asset/u/ZAMWESELL.png"); }
